.descricao-item{
    text-align: center;
    color: #fffb00;
    font-size: 18px;
    margin-top: 20px;
}

.valor-item{
    color: #020101;
    font-size: 24px;
    text-align: center;
}

.footer-item{
    background-color: #ff00bf;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.inp-quantidade{
    color: #020101;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
}