#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar{
  --background: #dbd066;
}

.cantina{
  font-size: 30px;
  font-family:'Verdana, Geneva, Tahoma, sans-serif';
  font-weight: bold;
  font-style: italic;
  padding-left: 50px;
}

.card-item{
  background-color: rgb(255, 255, 255);
  padding: 15px 10px;
  border-radius: 8px;
  -webkit-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  -moz-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
}

.botao-detalhes{
  padding: 6px 12px;
  background-color: #ff6004;
  color: #ffffff;
  width: 100px;
  border-radius: 4px;
  text-align: center;
}

.slide-actived{
  font-weight: 500;
  border: 1px solid #8c8c8c;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide-no-actived{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
}

.img-item{
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  height: 120px;
}

.img-item img{
  height: 100%;
}

.titulo-item{
  text-align: center;
  color: #414141;
  font-weight: bold;
}

.valor-item{
  text-align: center;
  color: #8b8b8b;
}

.col-botao-detalhes{
  margin-top: 15px;
  text-align: center;
}
